@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Gabriela|Unkempt&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #ffffff;
}
.topmenu{
    background: green;
    height: 40px;
    padding: 5px;
    position:fixed;
    width: 100%;
}

.navi {
    float: right;
    color:white;
}
a{
    color:#fff;
}
li {
    display: inline;
    margin-right: 20px;
}
    
/* the landing page css */
.landing {
    background-image: url("../images/landing.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 740px;
}

.colourshed {
    background-color: rgba(0, 0, 0, 0.7);   
    height: 100%;
}

#push {
    padding-top: 10%;
}

.landing-text {
    margin-top: 10%;
}
.landing-text h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 60px;
}
/* .pizz{
    color: orange;
    animation: backwards 1s;
} */

/* order page */
.orders form{
    padding-top: 100px;
}
.order_img{
 background-image: url('../images/pizza3.jpeg');
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
 height: 740px;
}
.col-sm-6 offset-sm-3 text-center{
    padding: 20px;
}

#checkout{
    margin-top: 15px;
}
.click-me, button[type=submit], .deliver, .delivernot {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background-color: darkgoldenrod;
    outline: none;
    padding: 12.5px 13px;
    border: none;
    border-radius: 33px;
    font-size: 14px;
}

.deliver, .delivernot {
    margin: 10px;
}
.order-summary h1, .summary, .contact {
    color: #000;
    font-family: 'Love Ya Like A Sister', cursive;
    margin-top: 30px;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 1000px;
        overflow-x: hidden;
    }

    #push {
        padding-top: 40%;
    }

    .karibu-txt {
        margin-top: 50px;
    }

    .menu-overlay {
        width: 100%;
        height: inherit;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .karibu-img {
        margin-left: 20px;
        margin-bottom: 10px;
        height: 300px;
        width: 270px;
    }

    .welcome {
        padding-top: 10px;
    }

    .cdata {
        padding: 10px 5px 10px 5px;
    }

}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
        height: 650px;
    }

    .piz-pap {
        font-size: 50px;
    }

    ul > .nav-items {
        display: inline;
        margin-right: 20px;
        margin-left: 12px;
    }
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #3f51b5 !important;
    }

}


